
ytd-browse:not(#top-level-buttons-computed)[role='main'][page-subtype='playlist'] ytd-playlist-header-renderer div.metadata-action-bar > div.metadata-buttons-wrapper
{
    margin-right : auto;
}

#contents.ytd-rich-grid-renderer {
    padding-top: 2px !important;
}

#subscription-box {
    padding-top: 5px;
}

#subscription-header {
    margin-left: 4em;
}
#subscription-header yt-chip-cloud-chip-renderer {
    margin-right: 15px ;
}

#playlist-contents {
    display: grid;
    grid-template-columns: repeat(auto-fill, 310px);
    grid-gap: 1rem;
    justify-content: space-between;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.grid-subheader.ytd-shelf-renderer {
    margin-top: 1em !important;
}

.hidden {
    visibility: hidden; 
  }

  .playlistSubBtn {
    width: auto !important;
  }

 ytd-page-manager #header-contents {
    padding-bottom: 0.7em;
 }
 